
body {

    background-color: #d5dae5;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.respuestaMsg{
  display: none;
}

.enab{
    display: none;
}
.marcadorOff{
    background-color: #F1EEED !important;
}
.marcadorOff2{
    background-color: #f8d7da !important;
}
.marcadorOff3{
    background-color: #d4edda !important;
}
.navbar {
    padding: 15px 10px;
    background: #35475e;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 99999;
    background: #35475e;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    padding-top: 9px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #35475e;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #496282;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #233245;

}
.avatar {
  background: rgba(0, 0, 0, 0.1);
  padding: 2em 0.5em;
  text-align: center;
}
.avatar1 {
  padding: 2em 0.5em;
  text-align: center;
}
.avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #ffea92;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}
.avatar1 img {
  width: 150px;
   height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #ffea92;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}
.avatar h2 {
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 0;
}


#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding-left: 10px;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    display: block;
    height: 60px;
    line-height: 60px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #3c506a;
    
}


#sidebar ul li a:hover {
    color: #496282;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #425875;
}

a[data-toggle="collapse"] {
    position: relative;
}

/*.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}*/

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #536f94;
}

ul.CTAs {
    padding: 20px;
    text-align: center;
    display: block;

}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


.myButton {
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
    background-color:#fc8d83;
    border-radius:6px;
    border:1px solid #d83526;
    display:inline-block;
    cursor:pointer;
    color:#ffffff !important;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35 !important;
}
.myButton:hover {
    background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%) !important;
    background-color:#e4685d !important;
}
.myButton:active {
    position:relative;
    top:1px;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

/* main content styles */
.main-content {
    padding: 40px;
    margin-top: 0;
    padding: 0;
    padding-top: 30px;
    height: 100%;
    
}
.main-content .title {
    background-color: #eef1f7;
    border-bottom: 1px solid #b8bec9;
    padding: 10px 20px;
    font-weight: 700;
    color: #333;
    font-size: 18px;
}
/* main box container */
.main {
    display: flex;
    flex-flow: row wrap;
}
.widget {
    flex-basis: 300px;
    flex-grow: 10;
    height: auto;
    width: auto;
    min-height: 500px;
    margin: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 6px;
    background-color: #ffffff;
    position: relative;
}
.widget .title {
    background-color: #eef1f7;
    border-bottom: 1px solid #dfe4ec;
    padding: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #617085;
    font-weight: 600;
}

.btn-info.custom-btn {
    box-shadow:inset 0px 1px 0px 0px #ffffff !important;
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color:#f9f9f9 !important;
    border-radius:6px;
    border:1px solid #dcdcdc !important;
    display:inline-block;
    cursor:pointer;
    color:#666666 !important;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

.btn-info.custom-btn:hover {
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%) !important;
    background-color:#e9e9e9 !important;
}
.btn-info.custom-btn:active {
    position:relative;
    top:1px;
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */

.navbar {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    font-weight: 300; 
    color: #fff;
}
.navbar .logo{
   font-weight: bold;
}
.navbar .navbar-toggler {
    outline: 0;
    border-width: 0; 
}
.navbar .nav-flex-icons {
    flex-direction: row; 
}

.navbar .nav-item .nav-link {
    display: block; 
}
.navbar .nav-item .nav-link.disabled:active {
    pointer-events: none; 
}
.navbar .nav-item .nav-link .fas, .navbar .nav-item .nav-link .fab, .navbar .nav-item .nav-link .far {
    padding-right: 3px;
    padding-left: 3px; 
}
.navbar .dropdown-menu {
    position: absolute !important;
    margin-top: 10px; 
}
.navbar .dropdown-menu a {
    padding: 10px;
    font-size: 0.9375rem;
    font-weight: 300;
    color: #000; 
}
      
.pagination .page-link {
  padding: .25rem .5rem;
}

@media screen and (min-width: 576px) {
  .pagination .page-link {
    padding: .5rem .75rem;
  }

}
@media screen and (min-width: 500px) {
  .pagination .page-link {
    padding: .75rem 1.5rem;
  }
}

.chart {
  width: 100%; 
  min-height: 450px;
}
.row {
  margin:0 !important;
}
/* BOTON DE MENU */
.hamburger {
  left: 20px;
  top: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 5px;
  background-color: #3c506a;
  border: 2px solid #d5dae5;
  padding: 10px 7px;
  width: 50px;
  height: 46px;
  transition-property: background-color, border-color;
}

.bar {
  display: block;
  position: relative;
  background-color: #d5dae5;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  margin: 0 auto;
  transition-property: transform, opacity, background-color, width;
}

.bar:first-child { top: 0; }

.bar:nth-child(2) { opacity: 1; }

.bar:last-child { bottom: 0; }

.hamburger:hover { border-color: #fff; }

.hamburger:hover .bar { background-color: #fff; }

.bar + .bar { margin-top: 5px; }


/* ---------------------------------------------------
   MEDIA QUERI
----------------------------------------------------- */

@media (max-width: 992px) {
    .navbar .container {
    width: 100%; }
    .navbar .container .navbar-toggler-right {
    right: 0; } 
    .main-content {
    padding-top: 40px; 
    }
}

@media (max-width: 600px) {
    .navbar .dropdown-menu form {
    width: 17rem; } 

}
@media (min-width: 600px) {
    .navbar .dropdown-menu form {
    width: 22rem; }
                .main-content {
    padding-top: 45px; 

    } 

}

@media (min-width: 600px) {
    .pagination.pagination-lg{display: inline-block;}
    .navbar.scrolling-navbar {
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    padding-top: 12px;
    padding-bottom: 12px; }
    .navbar.scrolling-navbar .navbar-nav > li {
    transition-duration: 1s; }
    .navbar.scrolling-navbar.top-nav-collapse {
    padding-top: 5px;
    padding-bottom: 5px; } 


}  

@media (min-width: 720px) {
    #mycontainer.container-fluid{
    width: 60% !important;
    padding-top: 10px !important; 
    }
    
}
#mycontainer.container-fluid{
    padding-top: 10px !important; 
    }
.more-trigger:hover {
    background: rgba(255, 255, 255, 0.3);
    transition: .3s;
}
.hs-user,
.more-trigger {
    position: absolute;
    top: 20px;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    transition: .3s;
    z-index: 100;
}
.more-trigger {
    right: 12px;
}
.far.fa-ellipsis-v {
    font-size: 30px;
    padding-right: 0px;
    padding-top: 10px;
}

.hs-user {
    right: 55px;
    top: 20px;
    overflow: hidden;
}

.hs-user img {
    width: 40px;
    height: 40px;
    transition: .3s;
}

.hs-user img:hover {
    opacity: .8;
    -webkit-opacity: .8;
    -moz-opacity: .8;
    transform: scale(1.1);
    transition: .3s;
}

.user-penal {
    width: 130px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.33);
    background: #fff;
    list-style: none;
    position: fixed;
    display: none;
    top: 75px;
    right: 5px;
    line-height: 1.5;
    z-index: 100;
    border-radius: 0px 0px 5px 5px;
    
    padding-left: 0px;
}

.user-penal li a {
    font-size: 12px;
    text-decoration: none;
    color: #666;
    display: block;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: .3s
    padding-left: 10px;
}
.fal,
.fad,
.user-penal li  {
    font-size: 14px;
}

.user-penal li a:hover {
    background: rgba(0, 0, 0, 0.1);
    transition: .3s;
}

.user-penal .label-success {
  background-color: #00a65a !important;
  color: #fff !important;
}

.user-penal .label {
    position: absolute;
    top: 8px;
    right: 10px;
    text-align: center;
    font-size: 10px;
    padding: 2px 5px;
    line-height: 1.5;
    margin-right: 10px;
    border-radius: 5px 5px 5px 5px;
}

input[disabled] {
    cursor:not-allowed;
}
select[disabled] {
    cursor:not-allowed;
}


  .input_container ul {
    list-style: none;
    position: absolute;
    cursor: pointer;
    z-index: 9;
    padding-left: 0px;
    background: #fff;
    border: 1px solid #ccc; 
    border-radius: 2px 2px 2px 2px;
    font-size: 18px; 

}
.input_container ul li {
    padding: 2px;
    color: #000000;
    border-bottom: 1px solid #EAEAEA; 
 
}
.input_container ul li:hover {
 background: #3494EE;
}


/*=============================================
ESCRITORIO GRANDE (XL revisamos en 1366px en adelante)
=============================================*/

@media (min-width: 1200px) {

/*    .input_container ul {
     height: auto;
    width: auto;
    min-width: 280px;
    position: absolute;
    cursor: pointer;
    z-index: 9;
    background: #35475e;
    list-style: none;
    margin-left: 0px;
    margin-top: 2px;
    padding-left: 0px;
    font-size: 18px;
    border-radius: 5px 5px 5px 5px;

}
.input_container ul li {
    padding: 2px;
    border-bottom: 2px solid #3c506a;
    padding-bottom: 5px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
*/
.input_container ul {
    top: -8px;
    }
   .input_container ul li{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;

   } 

}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL(LG revisamos en 1024px en adelante)
=============================================*/

@media (max-width: 1199px) and (min-width: 992px){

}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (MD revisamos en 768px)
=============================================*/

@media (max-width: 991px) and (min-width: 768px){

}

/*=============================================
MOVIL (SM revisamos en 576px)
=============================================*/

@media (max-width: 767px) and (min-width: 576px){

   /*=====  BUSCADOR  ======*/
   
    .input_container ul {
    
    border-left: 1px solid #ccc; 
    border-right: 1px solid #ccc; 
    border-radius: 2px 2px 2px 2px; 
    }
    .input_container ul li {
    border-bottom: 1px solid #ccc; 
    padding: 10px;
    }

}

/*=============================================
MOVIL PEQUEÑO (revisamos en 575px)
=============================================*/

@media(max-width: 575px){

}



/*div imagen sobre texto*/
.div1 img {
  width: 100px;
  height: 100px;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  border: 1px solid #ffea92;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}
.div1  a img {display: None; }
.div1  a:hover img {
    z-index: 100;
    display: Block;
    position: Absolute;
    -moz-box-shadow: 3px 3px 8px #888888, -3px -3px 3px #cdcdcd;
    -webkit-box-shadow: 3px 3px 8px #888888, -3px -3px 3px #cdcdcd;
    -o-box-shadow: 3px 3px 8px #888888, -3px -3px 3px #cdcdcd;
    box-shadow: 3px 3px 8px #888888, -3px -3px 3px #cdcdcd;
}

/*div producto sobre texto*/
.div2 span {
  padding: 5px 5px 5px 5px;
  width: 350px;
  height: 70px;
  font-size: 15px;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  border: 2px solid #0f1123;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
  background-color: white;
}
.div2  a span {display: None; }
.div2  a:hover span {
    z-index: 100;
    display: Block;
    position: Absolute;
    -moz-box-shadow: 3px 3px 8px #888888, -3px -3px 3px #cdcdcd;
    -webkit-box-shadow: 3px 3px 8px #888888, -3px -3px 3px #cdcdcd;
    -o-box-shadow: 3px 3px 8px #888888, -3px -3px 3px #cdcdcd;
    box-shadow: 3px 3px 8px #888888, -3px -3px 3px #cdcdcd;
}

/*div producto sobre texto*/
.div3 span {
  padding: 5px 5px 5px 5px;
  width: auto;
  height: auto;
  font-size: 15px;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  border: 2px solid #0f1123;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
  background-color: white;
}
.div3  a span {display: None; }
.div3  a:hover span {
    z-index: 100;
    display: Block;
    position: Absolute;
    -moz-box-shadow: 3px 3px 8px #888888, -3px -3px 3px #cdcdcd;
    -webkit-box-shadow: 3px 3px 8px #888888, -3px -3px 3px #cdcdcd;
    -o-box-shadow: 3px 3px 8px #888888, -3px -3px 3px #cdcdcd;
    box-shadow: 3px 3px 8px #888888, -3px -3px 3px #cdcdcd;
}



/* Modal Content (image) */
/*.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
*/

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 2;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.modal1 {
  
  left: 0;
  top: 0;
 
  overflow: auto; /* Enable scroll if needed */
 
}

.img-container{
  width:498px;
  height:380px;
  overflow:hidden;
}
.img-container img{
  width:100%;
  height:100%;
}

.line1 {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 2px 0;
}

table tr th {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.sorting {
  background-color: #D4D4D4;
}

.asc:after {
  content: ' ↑';
}

.desc:after {
  content: " ↓";
}

/* estilos ventana model*/
#popup {
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
#popup:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   transition:all 1s;
}
.popup-contenedor {
   position: relative;
   margin:10% auto;
   padding:20px 40px;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:75%;
  /* height: 600px;*/
   overflow: scroll;
}
a.popup-cerrar {
  display:scroll;
  position:fixed;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 60px;
   text-decoration: none;
   line-height: 1;
   color: red;
   

}

/*=============================================
MOVIL PEQUEÑO (revisamos en 575px)
=============================================*/

@media(max-width:480px){
  .user-penal
  {
    top: 80px;
  }
  .mr-auto
  {
  margin-right: 20px !important;
  }
  .more-trigger
  {
    right: 5px;
  }

  .main-content .title2 
  {
    font-size: 12px;
    text-align: right;
    padding: 8px 20px;
  }
  .widget 
  {
    margin: 5px;
  }

  .alert 
  {
    padding: .2rem 0.80rem !important;
    
  }

  .sweet-alert h2 {

    font-size: 20px !important;
     margin: 10px 0 !important;
   }
  .sweet-alert button {
    font-size: 15px !important;
  }
  .sweet-alert .sa-icon {
    margin: 10px auto !important;
  }
  .toggle img{
    display:none !important;
  }

  .movil{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

.movil td,th{
  vertical-align: middle !important;
}
.pagination .page-link
{
      padding: .75rem 1.5rem !important;
}

.alij{
 display: inline-block !important;
}

}
  .contenedor {
              display: flex;
              justify-content: center !important;;
              align-items: center !important;

         }
.txtinput
{
  text-align: center;
  font-weight:bold;
  font-size: 20px;
}

.color-verde{
  background:#ff8585;
}

.tabla1{
  display:flex;
  justify-content:center;

}

.tabla1>*{
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
  display:flex;
  height:140px ;
  width:140px ;
  justify-content:center;
  align-items:center;
  border: 0.5px solid black;
  margin: 10px;
}

.tabla1 .icon {
  color: rgba(0, 0, 0, 0.15);
  z-index: 0;
}
.tabla1 .icon > i {
  font-size: 60px;
  right: 10px;
  top: 10px;
  transition: transform 0.3s linear;
}

.tabla1:hover .icon > i, .small-box:hover .icon > i.fa, .small-box:hover .icon > i.fas, .small-box:hover .icon > i.far, .small-box:hover .icon > i.fab, .small-box:hover .icon > i.fal, .small-box:hover .icon > i.fad, .small-box:hover .icon > i.ion {
  transform: scale(1.1);
}
.tabla1 p {
  font-size: 1rem;
  color :#ffffff;
  font-weight:bold;
}
.tabla1 p {
  z-index: 5;
}
.tabla1 > .small-box-footer {
  background-color: #394867;
}

hr.solid {
    border-top: 2px solid #999;
}


.table-wrapper {
  max-height: 150px;
  overflow: auto;
  display:inline-block;
}
.table-earnings {
    background: #F3F5F6;
}
.card-border{
  border-radius: 0 !important;  
}
/*.select2-container--default .select2-selection--single {
    height: 38px !important;
    padding: .375rem 0.75rem;
    font-size: 16px;
    line-height: 1.5;
    border-radius: .25rem;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    top: 85% !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 26px !important;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da !important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}*/